

/* Ajoutez une animation de "secousse" lorsque l'erreur est déclenchée */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease;
}



.card-title {
  font-size: em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card-body {
  padding: 10px;
}


.card button {
  width: 100%;
  margin-bottom: 5px;
}


.modal button {
  width: 100%;
  margin-bottom: 5px;
}

.modal-dialog {
  /* max-width: 90%; */
}
