.text-gold td {
    background-color: rgb(225, 214, 0);
    font-weight: bold;

}

.text-silver td {
    background-color: rgb(190, 190, 190);
    font-weight: bold;

}

.text-bronze td {
    background-color: rgb(196, 104, 0);
    font-weight: bold;

}

